

@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --color-primario: #ECEFF1;
    --color-secundario:#212121;
    --color-terciario:#2196F3;
    --color-hover:#FAF7F3;

    --fuente-monstserrat: "Montserrat", sans-serif;
    --fuente-Krona: "Krona One", sans-serif;

}


*{
    padding: 0;
    margin:0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: var(--color-primario);
    color:  var(--color-secundario);

    
}

.header{
    padding: 2% 0%  0% 15%;
}
.header_menu{
    display: flex;
    gap: 80px;
   
}

.header_menu_link{
    font-size:1.5 rem;
    font-family:var(--fuente-monstserrat);
    font-weight:600;
    color:var(--color-terciario);
    text-decoration: none;
}

.titulo-destaque{
    color:var(--color-terciario)

}


main {
    padding: 20px;
}

.Presentacion{
    display:flex;
    align-items: center;
   padding:5% 15%;
    justify-content: space-between;
    gap: 82px;
}




.presentacion_contenido{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.presentacion_contenido_titulo{
    font-size: 1.5 rem;
    font-family: var(--fuente-Krona);
}
.presentacion_contenido_texto{
    font-size:1.5 rem ;
    font-family: var(--fuente-monstserrat);
}
.presentacion_enlaces{
    display:flex;
    justify-content:space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.presentacion enlances_subtitulo{
    font-family:var(--fuente-Krona);
    font-size:1.5 rem ;
    font-weight: 400;
}


.presentacion_enlaces_link{
    width:50%;
    text-align: center;
    padding:21.5px 0;
    border-radius:8px;
    font-family: var(--fuente-monstserrat) ;
    font-size:1.5 rem; 
    font-weight:600;
    text-decoration: none;
    color: var(--color-secundario);
    border: 2px solid var(--color-terciario);
    display: flex;
    justify-content: center;
    gap:10px;

}

.presentacion_enlaces_link:hover{
    cursor: pointer;
    background-color: var(--color-hover);

}

.presentacion_imagen{
 width: 50%;

}


/* Pie de página */
footer {
    background-color: var(--color-terciario);
    color: var(--color-primario);
    text-align: center;
    padding: 24px;
    font-family: var(--fuente-monstserrat) ;
    font-size: 1.5 rem;
    font: weight 400; ;
}


@media (max-width:1200px){
    .header{
        padding: 10%;
    }
    .header_menu{
        justify-content:center ;
    }
    .Presentacion{
    flex-direction: column-reverse;
    padding: 5%;

}
   .presentacion_contenido{
    
    width:auto;
   }
}